@import url(nav.css);

.vestido1 {
position: absolute;
width: 271px;
height: 445px;
left: 178px;
top: 343px;

background: url(saia_ANOUKI-removebg-preview.png);
}

.vestido2 {
position: absolute;
width: 271px;
height: 328px;
left: 583px;
top: 402px;
}

.vestido3 {
position: absolute;
width: 252px;
height: 428px;
left: 990px;
top: 351px;
}

.vestido4 {
position: absolute;
width: 271px;
height: 328px;
left: 173px;
top: 1050px;
}

.vestido5 {
position: absolute;
width: 271px;
height: 328px;
left: 584px;
top: 1074px;
}
.vestido6 {
position: absolute;
width: 271px;
height: 328px;
left: 1004px;
top: 1074px;
}
.menos{
position: absolute;
width: 49px;
height: 44px;
left: 266px;
top: 908px;

}  
.menos2{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 660px;
    top: 908px;
    
}  
.menos3{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 1067px;
    top: 900px;
    
}  
.menos4{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 266px;
    top: 1486px;
}  
.menos5{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 660px;
    top: 1486px;
    
}  
.menos6{
position: absolute;
width: 49px;
height: 44px;
left: 1071px;
top: 1478px;   

}  
.mais1{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 338px;
    top: 914px;

}
.mais2{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 732px;
    top: 914px;

}
.mais3{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 1140px;
    top: 906px;

}
.mais4{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 266px;
    top: 1486px;
}
.mais5{
    position: absolute;
    width: 38px;
    height: 33px;

}
.mais6{
    position: absolute;
    width: 38px;
    height: 33px;
}

h1 {
position: absolute;
width: 200px;
height: 80px;
left: 253px;
top: 840px;

} 


.dois {
position: absolute;
width: 200px;
height: 80px;
left: 673px;
top: 844px;

} 


.tres {
position: absolute;
width: 200px;
height: 80px;
left: 1070px;
top: 844px;

} 

.quatro {
position: absolute;
width: 200px;
height: 80px;
left: 253px;
top: 1429px;

} 


.cinco {
position: absolute;
width: 200px;
height: 80px;
left: 643px;
top: 1434px;
} 


.seis {
position: absolute;
width: 200px;
height: 80px;
left: 1062px;
top: 1430px;

} 
