@import 'nav.js';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h3 {
    margin-top: 25px;
}

body{
    background: #F1E7F6;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
    width: 120px;
    padding-top: 15px;
}

.nav-itens{
    display: flex;
    align-items: center;
}



.search{
    width: 800px;
    display: flex;
}

.barar-pesquisa{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.pesquisar{
    width: 20%;
    height: 40px;
    border: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #aaaaaa;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pesquisar img{
    height: 40px;
    width: 40px;
}

.barar-pesquisa::placeholder{
    color: #a9a9a9;
}

.nav-itens a{
    margin-left: 20px;
}

.nav-itens a img{
    width: 30px;
}


/*____________________________________________________________________________________*/


nav ul{
    display: inline-block;
    list-style-type: none;
}

 nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #555;
}

nav ul li a:hover{
    background-color: #992acc;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.header {
    background: radial-gradient(#fff, #f1d6ff);
}

.header row{
    margin-top: 70px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 25px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.bnt {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s, color 0.3s, opacity 1s;
}

.bnt:hover {
    background: #60386b;
}


.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.categories {
    margin: 70px 0;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
flex-basis: 24%;
cursor: pointer;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-top: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 p {
    font-size: 14px;

}

.rating .fa, .fa-solid, .fa-regular{
    color:  #60386b;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background:  #60386b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small {
    color: #555;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial.col-3:hover {
    transform: rotateY(-10px);
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa .fa-quote-left{
    font-size: 34px;
    color:  #60386b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0%);

}





/*____________________________________________________________________________________*/
/* Todos os produtos */


.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}


select {
    border: 1px solid white;
    padding: 5px;
}

select:focus {
    outline: none;
}


nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

Updated upstream
nav ul li a{
    color: #fff;

}

.menu-icon {
    display:block;
    cursor: pointer;
}



/*__________________________________________________________________________________________*/ /* Footer*/

footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo{
    height: 320px;
    width: 360px;
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
    color: #fff;
}


.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title{
    margin-top: 80px;
    color: #fff;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}




/*{ width: 49px;
    height: 44px;
    left: 660px;
    top: 908px;
    
}   */


.menos3{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 1067px;
    top: 900px;
    
}  
.menos4{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 266px;
    top: 1486px;
}  
.menos5{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 660px;
    top: 1486px;
    
}  
.menos6{
    position: absolute;
    width: 49px;
    height: 44px;
    left: 1071px;
    top: 1478px;   

}  
.mais1{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 338px;
    top: 914px;

}
.mais2{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 732px;
    top: 914px;

}
.mais3{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 1140px;
    top: 906px;

}
.mais4{
    position: absolute;
    width: 38px;
    height: 33px;
    left: 266px;
    top: 1486px;
}
.mais5{
    position: absolute;
    width: 38px;
    height: 33px;

}
.mais6{
    position: absolute;
    width: 38px;
    height: 33px;
}

h1 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 253px;
    top: 840px;

} 


.dois {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 673px;
    top: 844px;

} 


.tres {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 1070px;
    top: 844px;

} 

.quatro {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 253px;
    top: 1429px;

} 


.cinco {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 643px;
    top: 1434px;
} 


.seis {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 1062px;
    top: 1430px;

} 

/* @media screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        left: 0;
        background: #333;
        width: 97.75%;
        overflow: hidden;
        transition: max-height 0.5s;
    }


}

@media screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3 {
        flex-basis: 100%;
    }

} */
