@import 'nav.css';

.header{

    width: 100%;
    height: calc(60vh - 120px);
    background-image: url('../../assets/banner.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* -------------------------------------------------------- */

.produtos{

    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.categoria-produto{

    padding: 0 10vw;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: capitalize;
}

/* --------------------------------------------------------- */

